@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    @apply w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition-all;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
    height: 8px;
    /* Height of the scrollbar for horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #3b82f6;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2563eb;
    /* Darker color on hover */
}

::-webkit-scrollbar-track {
    background: #f1f5f9;
    /* Color of the scrollbar track */
    border-radius: 10px;
    /* Rounded corners for the track */
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 1s ease forwards;
}

.animate-pulse {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.3;
    }

    50% {
        transform: scale(1.05);
        opacity: 0.6;
    }

    100% {
        transform: scale(1);
        opacity: 0.3;
    }
}
